<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Online Hair Salon Management System</display-name>
  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>Saloon.AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/AboutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>Saloon.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>Saloon.userRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Saloon.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>Saloon.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>Saloon.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userUpdateServlet</servlet-name>
    <servlet-class>Saloon.userUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdateServlet</servlet-name>
    <url-pattern>/userUpdateServlet</url-pattern>
  </servlet-mapping>
  <!-- getting services -->
  <servlet>
    <servlet-name>bookAppointment</servlet-name>
    <servlet-class>Saloon.bookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookAppointment</servlet-name>
    <url-pattern>/bookAppointment</url-pattern>
  </servlet-mapping>
</web-app>